.entries{
    overflow: hidden;
    width: 400px;
    margin: auto;
    margin-top: 60px;
}
.mapping h1{
    text-align: center;
}
.mapping{
    margin-top: 90px;
    margin-bottom: 40px;
}
.mapping h1 li{
    text-align: center;
}
